html {
	overflow: scroll;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

body {
	margin: 0;
	width: 100%;
}

.main-cont {
	width: 100vw;
	height: 100vh;
	background: #000;
}
