.mcdap {
	position: absolute;
	height: 100%;
	display: flex;
	width: 70%;
	top: 0;
	right: 0;
	color: #c4c4c4;
	z-index: 2;
}

/* planet description container */

.mcdap > div {
	margin: auto;
}

.cont-desc-all-desc {
	display: flex;
	flex-direction: column;
	height: 80%;
	margin: auto auto 3rem;
}

.cont-desc-title-desc {
	display: flex;
	margin: auto 0;
}

.desc-forplanet-each-cont {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.desc-misc-info-planet-cont {
	display: flex;
	margin: auto 0 0;
}

.planetday-cont {
	display: flex;
}

.planetyear-cont {
	display: flex;
}

.planettilt-cont {
	display: flex;
}

/* title */

.number-planet {
	font-family: "roboto";
	opacity: 0.4;
	font-size: 7rem;
	margin: auto 0;
}

.desc-title-planet-desc {
	position: relative;
	font-family: "AbrilFatface";
	font-size: 4rem;
	margin: auto 0;
	left: -1rem;
	top: 1rem;
}

/* description info */

.desc-forplanet-each-cont {
	font-family: "roboto";
}

.desc-forplanet {
	margin: auto 1.7rem;
}

.descplanet {
	width: 80%;
}

/* description misc */

.desc-misc-info-planet-cont {
	font-family: "roboto";
}

.desc-misc-info-planet-cont > div {
	margin: 0 0 0 1.7rem;
}

.planetday-cont > p {
	margin: auto 0.5rem auto 0;
}

.planetyear-cont > p {
	margin: auto 0.5rem auto 0;
}

.planettilt-cont > p {
	margin: auto 0.5rem auto 0;
}

.planetdaytext-title,
.planetyeartext-title,
.planettilttext-title {
	color: #979797;
	font-weight: 900;
}

/* button back */

.cont-backbutton {
	margin: auto auto 3rem;
}

.cont-backbutton > div {
	display: flex;
}

.backbutton {
	font-size: 1rem;
}

.backbutton > * {
	margin: 0 1rem;
}

.backtitletext {
	margin: 0 1rem;
	font-family: "roboto";
}

.backbutton > i {
	display: flex;
}

.backbutton > i::before {
	margin: auto;
}

.btnbackback {
	display: flex;
}
